body{
	margin: 0;
	font-family: 'Goldman',sanz-serif;
	font-size: 25px;
	color: white;
	background: linear-gradient(#010814,#02193B);

}

/*BANNER*/
.banner{
	background: linear-gradient(rgba(22, 26, 29,0.5),rgba(11, 9, 10,0.95)), url('images/fondo2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	height: 75vh;

}
.banner h1{
	margin: 0;
	padding: 150px 0 0 0;
}
.banner p{
	opacity: 0.7;
	font-size: 24px;
}
.banner button{
	font-size: 25px;
	padding: 5px 10px;
	color: #3185FC;
	border: 3px solid #3185FC;
	background-color: transparent;
	border-radius: 10px;
	transition: .3s linear;
}

.banner button:hover{
	cursor: pointer;
	color: #fff;
 	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #3185FC, 0 0 20px #3185FC, 0 0 25px #034DB5;
 	box-shadow:	 0 0 5px #fff, 0 0 10px #034DB5, 0 0 15px #034DB5, 0 0 20px #034DB5, 0 0 25px #034DB5;
	transition: .5s linear;
}
/*POSTS*/

.blog h2{
	padding: 0 0 0 50px;
}
.blog-posts{
	width: min(1200px,100%);
	padding: 0 50px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	cursor: default;
}
.post{
	width: calc(33% - 10px);
}
.post-img{
	width: calc(33vw - 75px);
	box-shadow: 10px 5px 5px black;
	border-radius: 25px;
	transition: .3s linear;
}
.post-content{
	font-family: 'Big Shoulders Stencil Text', cursive;
	border: 3px solid black;
	border-radius: 25px;
	box-shadow: 10px 5px 5px black;
	background-color: #77a6f8;
	color: black;
	font-size: 15px;
	padding: 5px 20px;
	margin: 0 25px;
	height: 130px;
	text-align: justify;
	transform: translateY(-60px);
	transition: .3s linear;
}

/*EFECTO*/
.post:hover .post-content{
	transform: translateY(-80px);
	transition: .3s linear;
}
.post:hover .post-img {
	transform: translateY(20px);
	transition: .3s linear;
}

/*FOOTER*/
footer{
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9));
	display: flex;
	font-family: 'Roboto', sans-serif;
}

footer i{
	font-size: 35px;
	padding: 15px;
}
footer h3{
	margin: 0;
}
footer p{
	font-size: 27px;
	margin: 0;
	position: relative;top: 10px;left: 50%;
}
footer input{
	font-size: 20px;

}
.contact{
	position: relative;top: 10px;left: 725px;
}
.contact a{
	text-decoration: none;
}
.news{
	position: relative;top: 10px;left: 250px;
}

/*ICONOS y responsive*/
#wsp:hover{
	transform: scale(1.5);
	transition: .2s linear;
}
#fb:hover{
	transform: scale(1.5);
	transition: .2s linear;
}
#ins:hover{
	transform: scale(1.5);
	transition: .2s linear;
}
#wsp{
	color: #25D366;
	transition: .2s linear;
}
#fb{
	color: #3b5998;
	transition: .2s linear;
}
#ins{
	color: #d6249f;
	transition: .2s linear;
}
@media screen and (max-width: 1200px){
	.blog-posts{
		justify-content: center;
	}
	.post{
	width: min(600px, 100%);
	}
}
